asgiref==3.7.2attrs==23.1.0autobahn==23.6.2Automat==22.10.0certifi==2023.7.22cffi==1.16.0channels==4.0.0channels-redis==4.1.0charset-normalizer==3.3.2constantly==15.1.0cryptography==41.0.7daphne==4.0.0defusedxml==0.7.1dj-database-url==2.1.0Django==4.2.7django-cors-headers==4.3.0djangorestframework==3.14.0djangorestframework-simplejwt==5.3.0djoser==2.2.0hyperlink==21.0.0idna==3.4incremental==22.10.0msgpack==1.0.7oauthlib==3.2.2Pillow==10.1.0psycopg2-binary==2.9.9pyasn1==0.5.0pyasn1-modules==0.3.0pycparser==2.21PyJWT==2.8.0pyOpenSSL==23.3.0python-dotenv==1.0.0python3-openid==3.2.0redis==5.0.1requests==2.31.0requests-oauthlib==1.3.1service-identity==23.1.0social-auth-app-django==5.3.0social-auth-core==4.4.2sqlparse==0.4.4Twisted==23.10.0txaio==23.1.1typing_extensions==4.8.0tzdata==2023.3urllib3==2.0.7whitenoise==6.6.0zope.interface==6.1