setuptools>=61
cryptography=43.0.3
pyOpenSSL==23.3.0
asgiref
channels
channels_redis
daphne
dj-database-url
Django>=4.2,<5.0
django-cors-headers
djangorestframework
djangorestframework-simplejwt
djoser
gunicorn
Pillow
psycopg2-binary
python-dotenv
redis
requests
whitenoise