asgiref
attrs
autobahn
Automat
certifi
cffi
channels
channels_redis
charset-normalizer
constantly
cryptography
daphne
defusedxml
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
djoser
hyperlink
idna
incremental
msgpack
oauthlib
pillow
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
python-dotenv
python3-openid
redis
requests
requests-oauthlib
service-identity
social-auth-app-django
social-auth-core
sqlparse
Twisted
txaio
typing_extensions
tzdata
urllib3
whitenoise
zope.interface
